
body{
	background-color: white;
	font-family: 'Open Sans',sans-serif;
}
h4{
	color: pink;
	font-weight: bold;
}
h4:hover{
	color: rgba(224,102,27,0.5);
	font-weight: bold;
	
}

.
 h1{
  font-size: 52px;
  color: rgb(224,102,27); 
  text-shadow: 0 0 20px rgba(0,0,0,0.8);
  font-weight: lighter;
  text-align: center;
}

 h2{
  /*text-shadow: 0 0 20px rgba(0,0,0,0.8);*/
  padding: 0.2em;
  font-size: 32px;
  color: Fuchsia;
  /*font-weight: lighter;*/
  /*letter-spacing: 2px;*/
  background-color: Silver;
}
h3
{
  /*text-shadow: 0 0 20px rgba(0,0,0,0.8);*/
  /*padding: 0.2em;*/
  /*font-size: 28px;*/
  /*color: rgb(20,148,20);*/
  /*font-weight: lighter;*/
  *letter-spacing: 2px*
}
.legend{
  color: blue; 
  text-align: center;
}

